-var links = [{link:'Home',path:'index.html'},{link:'Book',path:'book.html'},{link:'Contact',path:'contact.html'},{link:'About',path:'about.html'}]
.preloader-2(id="page-preloader")
    .loader
        span(id="load_perc") 0%
header.header
    nav.nav
        a.nav__logo(href="index.html")
            img(src="images/logo.webp", alt="")
        
        button.header__btn.icon-menu    
        ul.nav__list
            each value in links 
                li.nav__list-item
                    a.nav__list-link(href=value.path)= value.link
              
                            